body{
    background-color: black;
    font-family: 'Bitter', serif;
}
h1{
    text-align: center;
}
body nav {
    position: relative;
    top: 50pt;
    width: 150pt;
    font-weight: bold;
    font-size: large;
}
body nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body nav ul li {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    display: block;
    border: 1px black solid;
    font-size: larger;
    color: white;
}

main {
    position: absolute;
    top: 0;
    left: 220px;
    right: 220px;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 10px 10px white;
}
#content {
    margin: 0 auto;
    text-align: center;

}
.divs{
    text-align: center;
    position: fixed;
    border: 1px solid black;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25pt;
    text-shadow: black 0 0 6px;
    color: white;
    border-radius: 4px;
}
#buttonNext {
    position: fixed;
    width: 100px;
    height: 40px;
    border: 1px black solid;
    background-color: darkgoldenrod;
    font-size: large;
    border-radius: 3px;
    box-shadow: 0  5px 5px darkslategrey;
}
#buttonReset {
    position: fixed;
    width: 100px;
    height: 40px;
    border: 1px black solid;
    background-color: limegreen;
    font-size: large;
    border-radius: 3px;
    box-shadow: 0  5px 5px darkslategrey;
}
#buttonNext:active {
    transform: translateY(3px);
}
#buttonReset:active {
    transform: translateY(3px);
}

#seperator{
    text-align: center;
    position: fixed;
    border: 2px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    border-radius: 4px;
    visibility: hidden;
}

.zeiger{
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    visibility: hidden;
}

#search{
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.textField{
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 110px;
    font-size: larger;
    padding: 15px;
    border-radius: 5px;
}
